<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhqbOpU-phuOy1R3eBcv8r1zTijEDjOKw</string>
	<key>GCM_SENDER_ID</key>
	<string>699828636540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurant.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rest-2d4c9</string>
	<key>STORAGE_BUCKET</key>
	<string>rest-2d4c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699828636540:ios:042ef81fe100e95d32f2f9</string>
</dict>
</plist>